<div class="d-flex justify-content-around"><h3>Items</h3><h3>Start Date</h3><h3>End Date</h3></div>
  <div class = "d-flex justify-content-center" style="margin: 5rem" >
    <div class="card" id="div-booking" style="margin-top: -5rem ; width: 65rem">
      <ul class="list-group list-group-flush">
        <% @bookings.each do |booking|%>
          <li class="list-group-item">
            <div class="d-flex justify-content-between" style= "height: 3rem">
              <div>
                <%= link_to booking.item.name, user_item_path(current_user, booking.item.id) %>
              </div>
              <div>
                <%= booking.start_date.day %>/
                <%= booking.start_date.month%>/
                <%= booking.start_date.year %>
              </div>
              <div>
                <%= booking.end_date.day%>/
                <%= booking.end_date.month%>/
                <%= booking.end_date.year%>
              </div>
            </div>
              <%= link_to 'Edit', edit_user_item_booking_path(current_user, booking.item.id, booking) %>
              <%= link_to 'Delete', user_item_booking_path(current_user ,booking.item, booking), method: :delete  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<%= link_to "home", root_path, class: "btn1" , style: "margin-left: 35rem" %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imageandco.online/wp-content/uploads/2020/12/Manga-696x392.jpg)">
</div>
