<h1>My Items</h1>

<div class="items-homepage" id="linkhometoitem">
  <% @items.each do |item| %>
    <div class="card" style="width: 18rem;">
      <% if item.photo.attached? %>
        <%= cl_image_tag item.photo.key, crop: :fill, class: "img-item" %>
      <% else %>
        <img class="img-item" src="https://avatars.githubusercontent.com/u/55115774?v=4" alt="photo">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
          <div class="card-info">
            <p class="card-text"><%= item.description %></p>
            <p class="item-price">$ <%= item.price %>/day</p>
          </div>
          <div class="card-btn1">
            <%= link_to "Edit", edit_user_item_path(current_user.id,item) %>
            <%= link_to "Delete", user_item_path(current_user.id,item), method: :delete %>
        </div>
      </div>
    </div>
  <% end %>
</div>
