<h1>New Items</h1>


<%= form_for([@user, @item]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.file_field :photo, as: :file %>

  <%= f.number_field :price %>

  <%= f.submit 'Add Item' %>
<% end %>
