<div class="new-form">
  <%= form_for([@user, @item]) do |f| %>
    <div class="attache-name-rectangle">
      <div class="name" ><%= f.label 'Name :' %>
      </div>
      <div class="rectangle-name"> <%= f.text_field :name %>
      </div>
    </div>
    <div class="attache-description-rectangle">
      <div class="description">
        <%= f.label 'description :'%>
      </div>
      <div class="rectangle-description">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class= " attache-parcourir">
      <%= f.file_field :photo%>
    </div>
    <div class= "attache-price">
      <div class= "price"> <%= f.label 'price :' %>
      </div>
      <div class = "rectangle-price">
      <%= f.number_field :price %>
      </div>
    </div>
    <div class = "add-item">
      <%= f.submit 'add my item' %>
    </div>
  <% end %>
</div>
