<%# <div class="card" style="width: 18rem;"> %>
<%# <%= image_tag "marteau_de_thor.jpg"%>
  <%# <div class="card-body"> %>
    <%# <h5 class="card-title"><%= @item.name</h5> %>
    <%# <p class="card-text"><%= @item.description</p> %>
    <%# <a href="#" class="btn btn-primary">Reserver</a> %>
  <%# </div> %>
<%# </div> %>
<div class="card-categor">
  <div class="container">
    <h1><%= @item.name %></h1>
    <p><%= @item.description%></p>
    <a href="#" class="btn btn-primary">Reserver</a>
    <img> <%= image_tag "marteau_de_thor.jpg"%>
  </div>
</div>
