<%# <div class="containerz">
  <h1>Le Super Article</h1>

  <div class="card-categor">
    <div class="">
      <h2 class="item_name"><%= @item.name %></h2>
      <%# <p><%= @item.description%></p>
      <%# <img> <%= image_tag "marteau_de_thor.jpg"%>
    </div>
  </div>
</div>

<%# <div class="container" id = "div_btn_formulaire">
  <%= link_to f.submit 'Soumettre',class: 'btn1'%>
<%# </div> %>
<div class="containerctv">
  <div class="card-trip">
    <div class="btn">
      <%= link_to "Acceuil", root_path, class: "btn btn-gradient" %>
      <%= link_to "Reserver", new_user_item_booking_path(current_user.id, @item), class: "btn btn-gradient" %>
    </div>
    <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @item.name %></h2>
        <p><%= @item.description%></p>
      </div>
      <h2 class="card-trip-pricing"><%=@item.price%></h2>
      <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
    </div>
  </div>
</div>
